{{> default }}
<div class="container">
    <div class="card">
        <img src="/static/abstract.png" class="card-img-top" alt="Art from Kraken" width="300px" height="500px">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">Proin imperdiet ultricies nisi quis condimentum. Quisque nibh arcu, finibus at egestas
                in, porttitor at turpis. Aliquam erat volutpat. Phasellus augue ante, maximus eu auctor ut, posuere at
                justo. Aliquam erat volutpat. Nam fringilla mauris eu neque finibus fringilla. Proin at velit lorem..
            </p>
            <p class="card-text">Proin imperdiet ultricies nisi quis condimentum. Quisque nibh arcu, finibus at egestas
                in, porttitor at turpis. Aliquam erat volutpat. Phasellus augue ante, maximus eu auctor ut, posuere at
                justo. Aliquam erat volutpat. Nam fringilla mauris eu neque finibus fringilla. Proin at velit lorem..
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>