{{> default }}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">Proin imperdiet ultricies nisi quis condimentum. Quisque nibh arcu, finibus at egestas in,
            porttitor
            at turpis. Aliquam erat volutpat. Phasellus augue ante, maximus eu auctor ut, posuere at justo. Aliquam erat
            volutpat. Nam fringilla mauris eu neque finibus fringilla. Proin at velit lorem.</p>
        <hr class="my-4">
        <p>Blib bblom bem bimmm</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>