{{> default }}

<div class="container">
    <ul class="list-group">
        <li class="list-group-item"><b>Name: {{ name }} </b></li>
        <li class="list-group-item">Email: {{ email }} </li>
        <li class="list-group-item">Comments: {{ comments}} </li>
    </ul>
</div>